<div class="text-center">
    <h1 class="font-weight-bolder">Nuestros medios sociales</h1>
    <div class="row justify-content-center">
        <div class="text-center  pl-3 pr-3">
            <a target="_blank" href="https://instagram.com/devlegnd" class="fab fa-instagram"></a>
        </div>
        <div class="text-center pl-3 pr-3">
            <a target="_blank" href="https://github.com/lapc18" class="fab fa-github-alt"></a>
        </div>
        <div class="text-center pl-3 pr-3">
            <a target="_blank" href="https://facebook.com/devlegnd" class="fab fa-facebook-f"></a>
        </div>
        <div class="text-center  pl-3 pr-3">
            <a target="_blank" href="https://api.whatsapp.com/send?phone=18293972288" class="fab fa-whatsapp"></a>
        </div>
    </div>

    <hr width="75%" class="text-muted">
    <footer class="bg-transparent">
        <div class="text-center text-muted">
            <a href="https://devlegnd.com" target="_blank" class="powered text-muted lead m-0">Powered by
                <b>DevLegnd</b></a>
            <p class="m-0 pb-2">All Rights Reserved</p>
        </div>
    </footer>
</div>