<div class="">
    <div class="row justify-content-center pt-4">
        <div class="text-center  pl-5 pr-5">
            <a target="_blank" href="https://instagram.com/devlegnd" class="fab fa-instagram"></a>
        </div>
        <div class="text-center pl-5 pr-5">
            <a target="_blank" href="https://github.com/lapc18" class="fab fa-github"></a>
        </div>
        <div class="text-center pl-5 pr-5">
            <a target="_blank" href="https://facebook.com/devlegnd" class="fab fa-facebook"></a>
        </div>
    </div>

    <hr width="75%" class="text-muted">
    <footer class="bg-transparent bg-light">
        <div class="text-center text-muted">
            <a href="https://devlegnd.com" target="_blank" class=" text-muted lead m-0">Developed by DevLegnd</a>
            <p class="m-0 pb-2">All Rights Reserved</p>
        </div>
    </footer>
</div>