.navbar-toggler {
    border: none !important;
}

.navbar-nav {
    float: right;
}

.navbar-nav li {
    text-align: end;
}

.nav-item {
    font-weight: 900;
    margin: 10px;
}

.nav-item .nav-link {
    color: #000;
}

.nav-item .nav-link:hover {
    color: #5c5c5c;
}