<app-navbar></app-navbar>
<div id="home">

    <div class="home padding">
        <div class="row">
            <div class="col-sm-6">
                <div class="home-content">
                    <h1 class="font-weight-bolder d-inline">Hacer todo desde casa es la moda del 2020 y eso incluye
                        a la Educación desde Casa en todas sus facetas.</h1>
                    <p class="lead text-black">¿Quieres saber más?</p>
                    <div class="d-flex animated flash delay-1s infinite">
                        <p id="desliza" class="lead d-inline text-black-50 font-weight-bolder">Desliza
                        <p>
                            <a href="#how-it-works" class="d-inline fas fa-arrow-circle-down text-white"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="../../../assets/svg/undraw_back_to_school_white.svg" class="home-img" alt="">
            </div>
        </div>
    </div>

    <div class="wave-container">
        <img src="../../../assets/svg/waves-down.svg" class="body-waves" alt="">
    </div>

    <div id="how-it-works">
        <div class="how-it-works padding">
            <div class="row">
                <div class="col-sm-6">
                    <img src="../../../assets/svg/undraw_fill_forms.svg" class="how-it-works-img" alt="">
                </div>
                <div class="col-sm-6">
                    <div class="how-it-works-content">

                        <h1 class="text-center font-weight-bolder">¿Cómo funciona EduSoft?</h1>

                        <p class="lead text-justify">
                            EduSoft te ayudará a manejar las inscripciones de tus estudiantes, evaluarlos y permitir que
                            estos puedan conocer el estatus de la misma de manera totalmente online. Puedes hacer tu
                            solicitud como Entidad Educativa completando algunas informaciones y aceptando los <a
                                class="text-muted" href="#terms" target="_blank">Términos y
                                condiciones</a> de EduSoft.</p>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="wave-container">
        <img src="../../../assets/svg/waves-up.svg" class="body-waves" alt="">
    </div>

    <div id="get-started">
        <div class="get-started">
            <div class="row justify-content-center">
                <div class="text-center padding-2 pb-3">
                    <h1 class="font-weight-bolder">Solo debes enviar tu solicitud y el Equipo de EduSoft te atenderá en
                        seguida.</h1>
                    <p class="font-weight-bolder text-black-50">¡No esperes más y vamos a colaborar juntos ahora!</p>
                    <button class="btn btn-outline-light">Unirse ahora</button>
                </div>
            </div>
        </div>
        <img src="../../../assets/svg/waves-down.svg" class="body-waves" alt="">

    </div>

</div>
<app-footer id="contacts"></app-footer>