.admin-board {
    min-height: 100vh;
    padding-top: 4rem;
}

nav {
    width: 100vw;
}

table {
    min-width: 100%;
}

th {
    font-weight: bolder;
}

button {
    margin: 0.2rem;
}

.table-container {
    min-height: 60vh;
}

.spacer {
    flex: 1 1 auto;
}

.icon-space {
    padding-left: 2rem;
    padding-right: 2rem;
}

.avatar img {
    border-radius: 10rem;
}