.admin-board {
    min-height: 100vh;
}

nav {
    width: 100vw;
}

table {
    min-width: 100%;
}

th {
    font-weight: bolder;
}

button {
    margin: 0.2rem;
}

.table-container {
    min-height: 60vh;
}

.status-dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}