<nav class="fixed-top">
    <mat-toolbar class="bg-primary-color">
        <mat-toolbar-row>
            <img src="../../../assets/logo.png" width="35" height="35">
            <h3 class="font-weight-bolder p-2">EduSoft</h3>
            <span class="spacer"></span>
            <button mat-icon-button color="white">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
</nav>
<div class="join">


    <div class="row justify-content-around">


        <join-card [url]="'http://devlegnd.com'" [title]="'Politenico Maximo Gomez'"
            [content]="'lorem ipsun aadsag gsfgs sgsdfgsadhsdghsd  fsdahsadf'" [footer]="'Areas Educativas: 6'">
        </join-card>
        <join-card [url]="'http://devlegnd.com'" [title]="'Politenico Maximo Gomez'"
            [content]="'lorem ipsun aadsag gsfgs   fsdahsadf'" [footer]="'Areas Educativas: 6'">
        </join-card>
        <join-card [url]="'http://devlegnd.com'" [title]="'Politenico Maximo Gomez'"
            [content]="'lorem ipsun aadsag gsfgs sgsdfgsadhsdghsd  fsdahsadf'" [footer]="'Areas Educativas: 6'">
        </join-card>
        <join-card [url]="'http://devlegnd.com'" [title]="'Politenico Maximo Gomez'" [content]="'lorem ipsudahsadf'"
            [footer]="'Areas Educativas: 6'">
        </join-card>

    </div>

    <div class="p-3"></div>
    <app-footer></app-footer>
</div>