.join {
    min-height: 100vh;
    background-color: #004aad;
    padding-top: 5rem;
}

.spacer {
    flex: 1 1 auto;
}

.icon-space {
    padding-left: 2rem;
    padding-right: 2rem;
}

.avatar img {
    border-radius: 10rem;
}